*{
    padding: 0;
    margin: 0;
}

.panelWrapper,.panelWrapper-active{
    height:100%;
    width: 100%;
    background-color: #ccc;
    display: flex;
    flex: auto 1;
    flex-direction: row;
    transition: ease-in-out 0.3s;
    position: fixed;

}

.panelWrapper{
    transform: scale(.93);
    opacity: 0;

}

.panelWrapper-active{
    transform: scale(1);
    opacity: 1;
}