.dashboard-wrapper{
    background-color: red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.dashboard-second-wrapper{
    background-color: red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.dashboard-sidebar{
    width: 240px;
    background-color: #2F3136;
    display: flex;
    flex-direction: column;
    min-height: 0px;
}
.dashboard-panel{
    width: 100%;
    background-color: #36393F;
}

.dashboard-side-navbar{
    display: flex;
    flex-direction: column;
    user-select: none;
}

.dashboard-panel-header-wrapper{
    width: 100% ;
    height: 48px;
    box-shadow: 0 1px 0 rgb(4 4 5 / 20%), 0 1.5px 0 rgb(6 6 7 / 5%), 0 2px 0 rgb(4 4 5 / 5%);
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-right: 5px;
}

.dashboard-panel-header-left{
    display: flex;
}

.dashboard-panel-header-left svg{
    color:#72767D;
    margin: 0 8px;
}
.dashboard-panel-header-left span{
    color:#fff;

}

.dashboard-panel-header-line{
    height: 24px;
    width: 1px;
    background-color: #72767D;
    margin: 0 15px;
}

.dashboard-panel-header-text{
    color:#72767D;
    font-size: 15px;
    font-weight: 500;
    margin-right:10px;
    padding: 1px 5px;
    cursor: pointer;
    border-radius: 5px;
}
.dashboard-panel-header-text:hover{
    background: #3A3E44;
    color: #ccc;
}
.dashboard-panel-header-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 5px;
    background-color: #3BA55D;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.dashboard-sidebar-section-avatar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #E64043;
    border-radius: 50%;
    margin-right: 10px;
}
.dashboard-sidebar-section-avatar-state{
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    background-color: #292B2F;
    border-radius: 50%;
    margin-left: 5px;
    border: 3px solid #3BA55D;
    box-shadow: 0px 0px 0px 3px #292B2F;    
}
.dashboard-sidebar-section-wrapper{
    width: 240px;
    height: 52px;
    background-color: #292B2F;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;
    flex: 0 0 auto;
}

.dashboard-sidebar-section-user{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:auto;

}
.dashboard-sidebar-section-user-name{
    height: 18px;
    font-size: 15px;
    color: white;
    display: flex;
    padding: 0;
    align-items: flex-end;
}
.dashboard-sidebar-section-user-code{
    height: 13px;
    font-size: 12px;
    color: #ccc;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.dashboard-sidebar-section-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-sidebar-section-buttons button{
    border:  none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    
}
.dashboard-sidebar-section-buttons button svg{
    color: #72767D;
}

.dashboard-panel-header-absolute-button{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 5px;
    background-color: #36393F;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.dashboard-panel-header-absolute-button * svg{
    color: #72767D;

}

.dashnoard-sidebar-chat-wrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  
}
.dashnoard-sidebar-chat-wrapper::-webkit-scrollbar {
    display: none;
}

.dashboard-sidebar-chat-buttons-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75px;
    color: #72767D;
    padding: 0px 10px;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: space-between;

}
.dashboard-sidebar-chat-button{
    border-radius: 5px;
    cursor: pointer;
}

.dashnoard-sidebar-chat-wrapper svg{
    fill: #36393F;
}

.dashboard-sidebar-chat-header-wrapper{
    display: flex;
    width: 100%;
    height: 52px;
    color: #72767D;
    padding: 0px 10px;
    font-size: 13px;
    justify-content: space-between;
    margin-top: 10px;

}
.dashboard-sidebar-chat-header-wrapper svg{
    height: 17px;
    width: 17px;
    cursor: pointer;
}
.dashboard-sidebar-chat-buttons-wrapper svg{
    width: 24px;
    height: 24px;
    margin-right:10px ;
}
.dashboard-sidebar-chat{
    display: flex;
    width: 100%;
    color: #72767D;
    padding: 0px 10px;
    font-size: 13px;
}